# Node dependencies
/node_modules

# Playwright-specific
/test-results/
/playwright-report/
/playwright-videos/
/playwright-screenshots/
node_modules/
/blob-report/
/playwright/.cache/
/tests/subtests/
/tests-examples/
.gitignore

# OS files
.DS_Store
Thumbs.db